<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <footer>
        <div class="box">
            <div class="footer-title">
                discription
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae pariatur voluptate ipsum facere minima praesentium eum expedita, autem labore in cupiditate doloremque ratione et asperiores vel. Doloremque accusamus atque excepturi aut, placeat qui? Accusantium similique eaque provident placeat maiores corrupti, dolore perferendis laborum, earum neque dolores molestias sit temporibus eum.</p>
        </div>
        <div class="box">
            <div class="footer-title">
                Sevrices
            </div>
            <div class="footer-link">
                <ul>
                    <li><a href="">home</a></li>
                    <li><a href="">serveces</a></li>
                    <li><a href="">help</a></li>
                </ul>
            </div>            
        </div>
        <div class="box">
            <div class="footer-title">
                Redings
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique minus consequuntur fuga, mollitia eos culpa, ea possimus non totam voluptates perferendis sint fugit porro, debitis nam eius molestias magnam pariatur. Consectetur optio vitae officiis sapiente totam molestias dolore asperiores. Magnam harum fuga molestias ad explicabo perferendis, consequatur maxime aliquam iusto!</p>
        </div>
    </footer>
</body>
</html>